## Extract Data

### Dari File CSV

In [1]:
import pandas as pd

In [2]:
df_customer = pd.read_csv('dataset/sql 1/Customers.csv')
df_orders = pd.read_csv('dataset/sql 1/Orders2.csv')
df_prod_cat = pd.read_csv('dataset/sql 1/ProductCategory.csv')
df_products = pd.read_csv('dataset/sql 1/Products.csv')

In [3]:
df_customer.head(3)

,customer_id,first_name,last_name,customer_email,customer_phone,customer_address,customer_city,customer_state,customer_zip
0,1,Grazia,Rasmus,grasmusas@i2i.jp#mailto:grasmusas@i2i.jp#,(202) 577-2595,628 Buhler Junction,Washington,District of Columbia,20029
1,2,Bunny,Trevan,btrevanmj@wordpress.org#mailto:btrevanmj@wordp...,917-903-2827,52 Cascade Drive,Jamaica,New York,11436
2,3,Tracie,Grayston,tgrayston7k@pagesperso-orange.fr#mailto:tgrays...,404-868-2391,672 Comanche Way,Atlanta,Georgia,30343

In [4]:
df_orders.head(3)

   order_id        date  customer_id prod_number  quantity
0         1  01/01/2020         1866       EB514         2
1         2  01/01/2020         1567       RS706         3
2         3  01/01/2020         2064       TV804         6

In [5]:
df_prod_cat

   category_id    category_name category_abbreviation
0            1       Blueprints                    BP
1            2       Drone Kits                    DK
2            3           Drones                    DS
3            4           eBooks                    EB
4            5       Robot Kits                    RK
5            6           Robots                    RS
6            7  Training Videos                    TV

In [6]:
df_products.head(3)

  prod_number                 prod_name  category  price
0       BP101  All Eyes Drone Blueprint         1   9.99
1       BP102   Bsquare Robot Blueprint         1   8.99
2       BP104       Cat Robot Blueprint         1   4.99

### Dari API

In [7]:
import requests
import json

# Endpoint API BMKG
url = "https://api.bmkg.go.id/publik/prakiraan-cuaca?adm4=32.73.16.1004"

# Request data
response = requests.get(url)

# Cek status
print("Status:", response.status_code)

# Lihat data
data = response.json()
print(json.dumps(data, indent=2, ensure_ascii=False))

Status: 200
{
  "lokasi": {
    "adm1": "32",
    "adm2": "32.73",
    "adm3": "32.73.16",
    "adm4": "32.73.16.1004",
    "provinsi": "Jawa Barat",
    "kotkab": "Kota Bandung",
    "kecamatan": "Kiaracondong",
    "desa": "Cicaheum",
    "lon": 107.6530357363,
    "lat": -6.9070015521,
    "timezone": "Asia/Jakarta"
  },
  "data": [
    {
      "lokasi": {
        "adm1": "32",
        "adm2": "32.73",
        "adm3": "32.73.16",
        "adm4": "32.73.16.1004",
        "provinsi": "Jawa Barat",
        "kotkab": "Kota Bandung",
        "kecamatan": "Kiaracondong",
        "desa": "Cicaheum",
        "lon": 107.6530357363,
        "lat": -6.9070015521,
        "timezone": "+0700",
        "type": "adm4"
      },
      "cuaca": [
        [
          {
            "datetime": "2025-11-08T15:00:00Z",
            "t": 24,
            "tcc": 100,
            "tp": 0,
            "weather": 3,
            "weather_desc": "Berawan",
            "weather_desc_en": "Mostly Cloudy",
            "wd_deg": 284,
            "wd": "W",
            "wd_to": "E",
            "ws": 9.6,
            "hu": 89,
            "vs": 7994,
            "vs_text": "< 8 km",
            "time_index": "14-15",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/berawan-pm.svg",
            "utc_datetime": "2025-11-08 15:00:00",
            "local_datetime": "2025-11-08 22:00:00"
          }
        ],
        [
          {
            "datetime": "2025-11-08T18:00:00Z",
            "t": 24,
            "tcc": 100,
            "tp": 0,
            "weather": 3,
            "weather_desc": "Berawan",
            "weather_desc_en": "Mostly Cloudy",
            "wd_deg": 287,
            "wd": "W",
            "wd_to": "E",
            "ws": 10.7,
            "hu": 87,
            "vs": 7992,
            "vs_text": "< 8 km",
            "time_index": "17-18",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/berawan-pm.svg",
            "utc_datetime": "2025-11-08 18:00:00",
            "local_datetime": "2025-11-09 01:00:00"
          },
          {
            "datetime": "2025-11-08T21:00:00Z",
            "t": 20,
            "tcc": 100,
            "tp": 0,
            "weather": 3,
            "weather_desc": "Berawan",
            "weather_desc_en": "Mostly Cloudy",
            "wd_deg": 284,
            "wd": "W",
            "wd_to": "E",
            "ws": 10.4,
            "hu": 88,
            "vs": 8003,
            "vs_text": "< 9 km",
            "time_index": "20-21",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/berawan-pm.svg",
            "utc_datetime": "2025-11-08 21:00:00",
            "local_datetime": "2025-11-09 04:00:00"
          },
          {
            "datetime": "2025-11-09T00:00:00Z",
            "t": 24,
            "tcc": 100,
            "tp": 0,
            "weather": 3,
            "weather_desc": "Berawan",
            "weather_desc_en": "Mostly Cloudy",
            "wd_deg": 267,
            "wd": "SW",
            "wd_to": "NE",
            "ws": 7.4,
            "hu": 77,
            "vs": 10014,
            "vs_text": "> 10 km",
            "time_index": "23-24",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/berawan-am.svg",
            "utc_datetime": "2025-11-09 00:00:00",
            "local_datetime": "2025-11-09 07:00:00"
          },
          {
            "datetime": "2025-11-09T03:00:00Z",
            "t": 26,
            "tcc": 100,
            "tp": 0,
            "weather": 3,
            "weather_desc": "Berawan",
            "weather_desc_en": "Mostly Cloudy",
            "wd_deg": 262,
            "wd": "SW",
            "wd_to": "NE",
            "ws": 8,
            "hu": 67,
            "vs": 9994,
            "vs_text": "< 10 km",
            "time_index": "26-27",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/berawan-am.svg",
            "utc_datetime": "2025-11-09 03:00:00",
            "local_datetime": "2025-11-09 10:00:00"
          },
          {
            "datetime": "2025-11-09T06:00:00Z",
            "t": 25,
            "tcc": 100,
            "tp": 0,
            "weather": 3,
            "weather_desc": "Berawan",
            "weather_desc_en": "Mostly Cloudy",
            "wd_deg": 262,
            "wd": "SW",
            "wd_to": "NE",
            "ws": 11.2,
            "hu": 79,
            "vs": 9997,
            "vs_text": "< 10 km",
            "time_index": "29-30",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/berawan-am.svg",
            "utc_datetime": "2025-11-09 06:00:00",
            "local_datetime": "2025-11-09 13:00:00"
          },
          {
            "datetime": "2025-11-09T09:00:00Z",
            "t": 27,
            "tcc": 100,
            "tp": 0.1,
            "weather": 3,
            "weather_desc": "Berawan",
            "weather_desc_en": "Mostly Cloudy",
            "wd_deg": 220,
            "wd": "S",
            "wd_to": "N",
            "ws": 5.3,
            "hu": 81,
            "vs": 9990,
            "vs_text": "< 10 km",
            "time_index": "32-33",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/berawan-am.svg",
            "utc_datetime": "2025-11-09 09:00:00",
            "local_datetime": "2025-11-09 16:00:00"
          },
          {
            "datetime": "2025-11-09T12:00:00Z",
            "t": 24,
            "tcc": 100,
            "tp": 0,
            "weather": 3,
            "weather_desc": "Berawan",
            "weather_desc_en": "Mostly Cloudy",
            "wd_deg": 87,
            "wd": "NE",
            "wd_to": "SW",
            "ws": 0.8,
            "hu": 87,
            "vs": 9995,
            "vs_text": "< 10 km",
            "time_index": "35-36",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/berawan-pm.svg",
            "utc_datetime": "2025-11-09 12:00:00",
            "local_datetime": "2025-11-09 19:00:00"
          },
          {
            "datetime": "2025-11-09T15:00:00Z",
            "t": 22,
            "tcc": 100,
            "tp": 0,
            "weather": 3,
            "weather_desc": "Berawan",
            "weather_desc_en": "Mostly Cloudy",
            "wd_deg": 224,
            "wd": "S",
            "wd_to": "N",
            "ws": 0.2,
            "hu": 88,
            "vs": 8010,
            "vs_text": "< 9 km",
            "time_index": "38-39",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/berawan-pm.svg",
            "utc_datetime": "2025-11-09 15:00:00",
            "local_datetime": "2025-11-09 22:00:00"
          }
        ],
        [
          {
            "datetime": "2025-11-09T18:00:00Z",
            "t": 20,
            "tcc": 100,
            "tp": 0,
            "weather": 3,
            "weather_desc": "Berawan",
            "weather_desc_en": "Mostly Cloudy",
            "wd_deg": 312,
            "wd": "W",
            "wd_to": "E",
            "ws": 1.7,
            "hu": 84,
            "vs": 8005,
            "vs_text": "< 9 km",
            "time_index": "41-42",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/berawan-pm.svg",
            "utc_datetime": "2025-11-09 18:00:00",
            "local_datetime": "2025-11-10 01:00:00"
          },
          {
            "datetime": "2025-11-09T21:00:00Z",
            "t": 20,
            "tcc": 68,
            "tp": 0,
            "weather": 2,
            "weather_desc": "Cerah Berawan",
            "weather_desc_en": "Partly Cloudy",
            "wd_deg": 316,
            "wd": "NW",
            "wd_to": "SE",
            "ws": 2.7,
            "hu": 75,
            "vs": 8005,
            "vs_text": "< 9 km",
            "time_index": "44-45",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/cerah berawan-pm.svg",
            "utc_datetime": "2025-11-09 21:00:00",
            "local_datetime": "2025-11-10 04:00:00"
          },
          {
            "datetime": "2025-11-10T00:00:00Z",
            "t": 24,
            "tcc": 100,
            "tp": 0,
            "weather": 3,
            "weather_desc": "Berawan",
            "weather_desc_en": "Mostly Cloudy",
            "wd_deg": 294,
            "wd": "W",
            "wd_to": "E",
            "ws": 2.3,
            "hu": 62,
            "vs": 7992,
            "vs_text": "< 8 km",
            "time_index": "47-48",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/berawan-am.svg",
            "utc_datetime": "2025-11-10 00:00:00",
            "local_datetime": "2025-11-10 07:00:00"
          },
          {
            "datetime": "2025-11-10T03:00:00Z",
            "t": 27,
            "tcc": 100,
            "tp": 0,
            "weather": 3,
            "weather_desc": "Berawan",
            "weather_desc_en": "Mostly Cloudy",
            "wd_deg": 264,
            "wd": "SW",
            "wd_to": "NE",
            "ws": 7.5,
            "hu": 53,
            "vs": 9988,
            "vs_text": "< 10 km",
            "time_index": "50-51",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/berawan-am.svg",
            "utc_datetime": "2025-11-10 03:00:00",
            "local_datetime": "2025-11-10 10:00:00"
          },
          {
            "datetime": "2025-11-10T06:00:00Z",
            "t": 28,
            "tcc": 78,
            "tp": 0.6,
            "weather": 2,
            "weather_desc": "Cerah Berawan",
            "weather_desc_en": "Partly Cloudy",
            "wd_deg": 264,
            "wd": "SW",
            "wd_to": "NE",
            "ws": 7.5,
            "hu": 51,
            "vs": 9988,
            "vs_text": "< 10 km",
            "time_index": "53-54",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/cerah berawan-am.svg",
            "utc_datetime": "2025-11-10 06:00:00",
            "local_datetime": "2025-11-10 13:00:00"
          },
          {
            "datetime": "2025-11-10T09:00:00Z",
            "t": 24,
            "tcc": 92,
            "tp": 0.6,
            "weather": 3,
            "weather_desc": "Berawan",
            "weather_desc_en": "Mostly Cloudy",
            "wd_deg": 65,
            "wd": "NE",
            "wd_to": "SW",
            "ws": 2.1,
            "hu": 71,
            "vs": 10012,
            "vs_text": "> 10 km",
            "time_index": "56-57",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/berawan-am.svg",
            "utc_datetime": "2025-11-10 09:00:00",
            "local_datetime": "2025-11-10 16:00:00"
          },
          {
            "datetime": "2025-11-10T12:00:00Z",
            "t": 21,
            "tcc": 100,
            "tp": 0,
            "weather": 3,
            "weather_desc": "Berawan",
            "weather_desc_en": "Mostly Cloudy",
            "wd_deg": 65,
            "wd": "NE",
            "wd_to": "SW",
            "ws": 2.1,
            "hu": 93,
            "vs": 10012,
            "vs_text": "> 10 km",
            "time_index": "59-60",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/berawan-pm.svg",
            "utc_datetime": "2025-11-10 12:00:00",
            "local_datetime": "2025-11-10 19:00:00"
          },
          {
            "datetime": "2025-11-10T15:00:00Z",
            "t": 20,
            "tcc": 100,
            "tp": 0,
            "weather": 3,
            "weather_desc": "Berawan",
            "weather_desc_en": "Mostly Cloudy",
            "wd_deg": 20,
            "wd": "N",
            "wd_to": "S",
            "ws": 1.5,
            "hu": 92,
            "vs": 7987,
            "vs_text": "< 8 km",
            "time_index": "62-63",
            "analysis_date": "2025-11-08T00:00:00",
            "image": "https://api-apps.bmkg.go.id/storage/icon/cuaca/berawan-pm.svg",
            "utc_datetime": "2025-11-10 15:00:00",
            "local_datetime": "2025-11-10 22:00:00"
          }
        ]
      ]
    }
  ]
}

### Dari Database

In [8]:
pip install psycopg2-binary pandas sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\syahr\anaconda3\lib\site-packages (2.9.11)
Requirement already satisfied: pandas in c:\users\syahr\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in c:\users\syahr\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: numpy>=1.26.0 in c:\users\syahr\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\syahr\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\syahr\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\syahr\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\syahr\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\syahr\anaconda3\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in c:\users\syahr\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from sqlalchemy import create_engine
import pandas as pd

# Koneksi ke database PostgreSQL
engine = create_engine("postgresql+psycopg2://postgres:1234@localhost:5432/postgres")

# Query untuk ekstraksi data
query_customers = "SELECT * FROM customers;"
query_orders = "SELECT * FROM orders;"
query_product_category = "SELECT * FROM product_category;"
query_producs = "SELECT * FROM products;"

# Ekstraksi data ke DataFrame
df_q_customers = pd.read_sql(query_customers, engine)
df_q_orders = pd.read_sql(query_orders, engine)
df_q_product_category = pd.read_sql(query_product_category, engine)
df_q_producs = pd.read_sql(query_producs, engine)

In [10]:
df_q_producs.head(3)

  prod_number                 prod_name  category  price
0       BP101  All Eyes Drone Blueprint         1   9.99
1       BP102   Bsquare Robot Blueprint         1   8.99
2       BP104       Cat Robot Blueprint         1   4.99

In [11]:
df_q_orders.head(3)

   order_id        date  customer_id prod_number  quantity
0         1  2020-01-01         1866       EB514         2
1         2  2020-01-01         1567       RS706         3
2         3  2020-01-01         2064       TV804         6

## Transform Data

In [12]:
#Buat tabel order yang sudah digabungkan dengan beberapa tabel
df_prod = pd.merge(df_products, df_prod_cat, left_on='category', right_on='category_id', how='inner')
df = pd.merge(df_orders, df_customer, on='customer_id', how='inner')
df = pd.merge(df, df_prod, on='prod_number', how='inner')
df.head()

,order_id,date,customer_id,prod_number,quantity,first_name,last_name,customer_email,customer_phone,customer_address,customer_city,customer_state,customer_zip,prod_name,category,price,category_id,category_name,category_abbreviation
0,1,01/01/2020,1866,EB514,2,Farrand,Vasler,fvaslerqt@comsenz.com#mailto:fvaslerqt@comsenz...,601-786-0195,134 Melrose Pass,Jackson,Mississippi,39216,Polar Robots,4,23.99,4,eBooks,EB
1,2,01/01/2020,1567,RS706,3,Terencio,McKern,tmckernot@tinyurl.com#mailto:tmckernot@tinyurl...,832-987-8363,26 Muir Lane,Katy,Texas,77493,RWW-75 Robot,6,883.00,6,Robots,RS
2,3,01/01/2020,2064,TV804,6,Geordie,Stiggers,gstiggersdd@eventbrite.com#mailto:gstiggersdd@...,727-777-8163,11106 Cordelia Plaza,Saint Petersburg,Florida,33737,Drone Video Techniques,7,37.99,7,Training Videos,TV
3,4,01/01/2020,287,DK203,1,Elna,De Angelo,edew@nba.com#mailto:edew@nba.com#,808-945-4067,78 Shasta Park,Honolulu,Hawaii,96820,BYOD-220,2,69.00,2,Drone Kits,DK
4,5,01/01/2020,422,EB517,5,Lucita,Lesper,llespercx@com.com#mailto:llespercx@com.com#,515-193-2721,393 Holmberg Center,Des Moines,Iowa,50315,SCARA Robots,4,19.50,4,eBooks,EB

In [13]:
#Menggabungkan nama depan dan nama belakang
df['full_name'] = df['first_name'] + ' ' + df['last_name']
df.head()

,order_id,date,customer_id,prod_number,quantity,first_name,last_name,customer_email,customer_phone,customer_address,customer_city,customer_state,customer_zip,prod_name,category,price,category_id,category_name,category_abbreviation,full_name
0,1,01/01/2020,1866,EB514,2,Farrand,Vasler,fvaslerqt@comsenz.com#mailto:fvaslerqt@comsenz...,601-786-0195,134 Melrose Pass,Jackson,Mississippi,39216,Polar Robots,4,23.99,4,eBooks,EB,Farrand Vasler
1,2,01/01/2020,1567,RS706,3,Terencio,McKern,tmckernot@tinyurl.com#mailto:tmckernot@tinyurl...,832-987-8363,26 Muir Lane,Katy,Texas,77493,RWW-75 Robot,6,883.00,6,Robots,RS,Terencio McKern
2,3,01/01/2020,2064,TV804,6,Geordie,Stiggers,gstiggersdd@eventbrite.com#mailto:gstiggersdd@...,727-777-8163,11106 Cordelia Plaza,Saint Petersburg,Florida,33737,Drone Video Techniques,7,37.99,7,Training Videos,TV,Geordie Stiggers
3,4,01/01/2020,287,DK203,1,Elna,De Angelo,edew@nba.com#mailto:edew@nba.com#,808-945-4067,78 Shasta Park,Honolulu,Hawaii,96820,BYOD-220,2,69.00,2,Drone Kits,DK,Elna De Angelo
4,5,01/01/2020,422,EB517,5,Lucita,Lesper,llespercx@com.com#mailto:llespercx@com.com#,515-193-2721,393 Holmberg Center,Des Moines,Iowa,50315,SCARA Robots,4,19.50,4,eBooks,EB,Lucita Lesper

In [14]:
#Pindahkan full_name sebelum first_name
cols = df.columns.tolist()
cols.remove('full_name')
cols.insert(cols.index('first_name'), 'full_name')

#Pindahkan quantity setelah price
cols.remove('quantity')
cols.insert(cols.index('price') + 1, 'quantity')

# Terapkan urutan baru
df = df[cols]
df.head()

,order_id,date,customer_id,prod_number,full_name,first_name,last_name,customer_email,customer_phone,customer_address,customer_city,customer_state,customer_zip,prod_name,category,price,quantity,category_id,category_name,category_abbreviation
0,1,01/01/2020,1866,EB514,Farrand Vasler,Farrand,Vasler,fvaslerqt@comsenz.com#mailto:fvaslerqt@comsenz...,601-786-0195,134 Melrose Pass,Jackson,Mississippi,39216,Polar Robots,4,23.99,2,4,eBooks,EB
1,2,01/01/2020,1567,RS706,Terencio McKern,Terencio,McKern,tmckernot@tinyurl.com#mailto:tmckernot@tinyurl...,832-987-8363,26 Muir Lane,Katy,Texas,77493,RWW-75 Robot,6,883.00,3,6,Robots,RS
2,3,01/01/2020,2064,TV804,Geordie Stiggers,Geordie,Stiggers,gstiggersdd@eventbrite.com#mailto:gstiggersdd@...,727-777-8163,11106 Cordelia Plaza,Saint Petersburg,Florida,33737,Drone Video Techniques,7,37.99,6,7,Training Videos,TV
3,4,01/01/2020,287,DK203,Elna De Angelo,Elna,De Angelo,edew@nba.com#mailto:edew@nba.com#,808-945-4067,78 Shasta Park,Honolulu,Hawaii,96820,BYOD-220,2,69.00,1,2,Drone Kits,DK
4,5,01/01/2020,422,EB517,Lucita Lesper,Lucita,Lesper,llespercx@com.com#mailto:llespercx@com.com#,515-193-2721,393 Holmberg Center,Des Moines,Iowa,50315,SCARA Robots,4,19.50,5,4,eBooks,EB

In [15]:
df.drop(columns=['customer_id', 'prod_number','category','category_id', 
                 'first_name', 'last_name', 'category_abbreviation'], inplace=True)
df.head()

,order_id,date,full_name,customer_email,customer_phone,customer_address,customer_city,customer_state,customer_zip,prod_name,price,quantity,category_name
0,1,01/01/2020,Farrand Vasler,fvaslerqt@comsenz.com#mailto:fvaslerqt@comsenz...,601-786-0195,134 Melrose Pass,Jackson,Mississippi,39216,Polar Robots,23.99,2,eBooks
1,2,01/01/2020,Terencio McKern,tmckernot@tinyurl.com#mailto:tmckernot@tinyurl...,832-987-8363,26 Muir Lane,Katy,Texas,77493,RWW-75 Robot,883.00,3,Robots
2,3,01/01/2020,Geordie Stiggers,gstiggersdd@eventbrite.com#mailto:gstiggersdd@...,727-777-8163,11106 Cordelia Plaza,Saint Petersburg,Florida,33737,Drone Video Techniques,37.99,6,Training Videos
3,4,01/01/2020,Elna De Angelo,edew@nba.com#mailto:edew@nba.com#,808-945-4067,78 Shasta Park,Honolulu,Hawaii,96820,BYOD-220,69.00,1,Drone Kits
4,5,01/01/2020,Lucita Lesper,llespercx@com.com#mailto:llespercx@com.com#,515-193-2721,393 Holmberg Center,Des Moines,Iowa,50315,SCARA Robots,19.50,5,eBooks

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3339 entries, 0 to 3338
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          3339 non-null   int64
 1   date              3339 non-null   object
 2   full_name         3339 non-null   object
 3   customer_email    3339 non-null   object
 4   customer_phone    3339 non-null   object
 5   customer_address  3339 non-null   object
 6   customer_city     3339 non-null   object
 7   customer_state    3339 non-null   object
 8   customer_zip      3339 non-null   int64
 9   prod_name         3339 non-null   object
 10  price             3339 non-null   float64
 11  quantity          3339 non-null   int64
 12  category_name     3339 non-null   object
dtypes: float64(1), int64(3), object(9)
memory usage: 339.2+ KB

In [17]:
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3339 entries, 0 to 3338
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          3339 non-null   int64
 1   date              3339 non-null   datetime64[ns]
 2   full_name         3339 non-null   object
 3   customer_email    3339 non-null   object
 4   customer_phone    3339 non-null   object
 5   customer_address  3339 non-null   object
 6   customer_city     3339 non-null   object
 7   customer_state    3339 non-null   object
 8   customer_zip      3339 non-null   int64
 9   prod_name         3339 non-null   object
 10  price             3339 non-null   float64
 11  quantity          3339 non-null   int64
 12  category_name     3339 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(3), object(8)
memory usage: 339.2+ KB

In [19]:
df.head()

,order_id,date,full_name,customer_email,customer_phone,customer_address,customer_city,customer_state,customer_zip,prod_name,price,quantity,category_name
0,1,2020-01-01,Farrand Vasler,fvaslerqt@comsenz.com#mailto:fvaslerqt@comsenz...,601-786-0195,134 Melrose Pass,Jackson,Mississippi,39216,Polar Robots,23.99,2,eBooks
1,2,2020-01-01,Terencio McKern,tmckernot@tinyurl.com#mailto:tmckernot@tinyurl...,832-987-8363,26 Muir Lane,Katy,Texas,77493,RWW-75 Robot,883.00,3,Robots
2,3,2020-01-01,Geordie Stiggers,gstiggersdd@eventbrite.com#mailto:gstiggersdd@...,727-777-8163,11106 Cordelia Plaza,Saint Petersburg,Florida,33737,Drone Video Techniques,37.99,6,Training Videos
3,4,2020-01-01,Elna De Angelo,edew@nba.com#mailto:edew@nba.com#,808-945-4067,78 Shasta Park,Honolulu,Hawaii,96820,BYOD-220,69.00,1,Drone Kits
4,5,2020-01-01,Lucita Lesper,llespercx@com.com#mailto:llespercx@com.com#,515-193-2721,393 Holmberg Center,Des Moines,Iowa,50315,SCARA Robots,19.50,5,eBooks

In [20]:
df.duplicated().sum()

np.int64(0)

In [21]:
df.isna().sum()

order_id            0
date                0
full_name           0
customer_email      0
customer_phone      0
customer_address    0
customer_city       0
customer_state      0
customer_zip        0
prod_name           0
price               0
quantity            0
category_name       0
dtype: int64

In [22]:
#mengekstrak pola waktu penjualan
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['day_of_week'] = df['date'].dt.day_name()      # Senin, Selasa, dst
df['is_weekend'] = df['day_of_week'].isin(['Saturday', 'Sunday']).astype(int)

In [23]:
#Pendapatan per transaksi
df['total_revenue'] = df['quantity'] * df['price']

In [24]:
df.head()

,order_id,date,full_name,customer_email,customer_phone,customer_address,customer_city,customer_state,customer_zip,prod_name,price,quantity,category_name,year,month,day,day_of_week,is_weekend,total_revenue
0,1,2020-01-01,Farrand Vasler,fvaslerqt@comsenz.com#mailto:fvaslerqt@comsenz...,601-786-0195,134 Melrose Pass,Jackson,Mississippi,39216,Polar Robots,23.99,2,eBooks,2020,1,1,Wednesday,0,47.98
1,2,2020-01-01,Terencio McKern,tmckernot@tinyurl.com#mailto:tmckernot@tinyurl...,832-987-8363,26 Muir Lane,Katy,Texas,77493,RWW-75 Robot,883.00,3,Robots,2020,1,1,Wednesday,0,2649.00
2,3,2020-01-01,Geordie Stiggers,gstiggersdd@eventbrite.com#mailto:gstiggersdd@...,727-777-8163,11106 Cordelia Plaza,Saint Petersburg,Florida,33737,Drone Video Techniques,37.99,6,Training Videos,2020,1,1,Wednesday,0,227.94
3,4,2020-01-01,Elna De Angelo,edew@nba.com#mailto:edew@nba.com#,808-945-4067,78 Shasta Park,Honolulu,Hawaii,96820,BYOD-220,69.00,1,Drone Kits,2020,1,1,Wednesday,0,69.00
4,5,2020-01-01,Lucita Lesper,llespercx@com.com#mailto:llespercx@com.com#,515-193-2721,393 Holmberg Center,Des Moines,Iowa,50315,SCARA Robots,19.50,5,eBooks,2020,1,1,Wednesday,0,97.50

## Load Data

In [26]:
df.to_sql(name='fix_order', con=engine, if_exists='append', index=False, method='multi')

3339